body {
    line-height: 1.5 !important;
}

#lkn_pgpf_give_paghiper_info_wrapper {
    display: block;
    align-items: center;
    text-align: center;
}

#lkn_pgpf_give_paghiper_info {
    font-size: 20px;
}

#pix_page_content {
    display: grid;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #7c7c7c;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #7c7c7c;
    margin: 100px 50px 100px 50px;
}

#pix_page_desc {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 28px;
    border-bottom: 1px solid #7c7c7c;
}

#pix_page_info {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

#pix_page_notice {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

#pix_page_qr_code {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
}

#pix_page_key {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgrey;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 20px;
    padding: 8px;
    border-style: groove;
}

.pix_page_popup {
    border: outset;
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual pix_page_popup */
.pix_page_popup .pix_page_popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* pix_page_popup arrow */
.pix_page_popup .pix_page_popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the pix_page_popup */
.pix_page_popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 0.3s;
    animation: fadeIn 0.3s;
}

#pix_page_address {
    display: none;
}

/* Add animation (fade in the pix_page_popup) */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media screen and (max-width: 600px) {
    #pix_page_address {
        font-size: 9px;
        overflow: none;
        text-overflow: none;
    }

    #pix_page_notice {
        font-size: 14px;
    }

    #pix_page_info {
        font-size: 18px;
    }

    .pix_page_popuptext {
        font-size: 14px;
    }
}

@media screen and (max-width: 350px) {
    #pix_page_address {
        font-size: 7px;
    }

    #pix_page_notice {
        font-size: 11px;
    }

    #pix_page_info {
        font-size: 16px;
    }

    .pix_page_popuptext {
        font-size: 13px;
    }
}


/* NEW CONTENT */
#pix_new_content {
    display: flex;
    align-self: center;
    justify-self: center;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    border: 1px solid #E6E6E6;
    border-radius: 10px;
    box-shadow: -2px 2px 4px #E6E6E6;
    padding: 20px;
    height: min-content;
    box-sizing: border-box;
    margin: 100px 50px 100px 50px;
    background-color: #fff;
}

.share_container {
    display: flex;
    width: 100%;
    justify-content: end;
    display: none;
    overflow: hidden;
    background-color: transparent;
}

.share_button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: #fff;
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    padding: 0px;
    background-color: transparent;
}

.container_pix {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 100%;
    box-sizing: border-box;
    padding: 40px;
}

.span_title_container {
    display: flex;
    align-items: start;
    width: 100%;
    padding-left: 20px;
    box-sizing: border-box;
}

.span_title_text {
    font-size: 20px;
    color: black;
}

ol {
    margin: 0px;
    margin-left: 20px;
}

.span_content_text {
    font-size: 20px;
    color: #838383;
}

.schedule_check_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}

.schedule_instructions_container {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    padding-left: 20px;
    box-sizing: border-box;
}

.schedule_text {
    font-size: 12px;
    text-align: center;
    color: #838383;
}

#timer {
    font-size: 48px;
    color: #3A3A3A;
}

.payment_check_container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.payment_check_button {
    display: flex;
    width: 350px;
    height: 50px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    background-color: #D9D9D9;
    color: #FFF;
    font-size: 20px;
    border: none;
    outline: none;
    box-shadow: none;
    margin-top: 16px;
    transition: background-color 0.5s ease;
}

.payment_check_button[disabled]:hover {
    background-color: #D9D9D9;
}

.payment_check_text {
    display: flex;
    justify-content: center;
    text-align: center;
    max-width: 350px;
    font-size: 16px;
    color: #838383;
}

/* TOTAL CODE */

.span_title_value {
    font-size: 20px;
    color: #686868;
    font-weight: bold;
    text-align: center;
}

.span_total_value {
    font-size: 32px;
    font-weight: bold;
    color: black;
    margin-top: -10px;
}

.span_date {
    font-size: 20px;
    color: #686868;
    margin-bottom: 10px;
    text-align: center;
}

#copy_container {
    display: flex;
    align-items: center;
    width: 360px;
    border-radius: 8px;
    height: 50px;
    overflow: hidden;
    background-color: #D9D9D9;
    margin-bottom: 20px;
}

.pix_img {
    width: 300px;
    height: auto;
}

.input_copy_code {
    width: 100%;
    height: 32px;
    background-color: #D9D9D9;
    border: none;
    outline: none;
    box-shadow: none;
    padding-left: 10px;
}

.input_copy_code[disabled] {
    background-color: #D9D9D9 !important;
}

.back_hover_button:hover {
    background-color: #3A3A3A;
}

.button_copy_code {
    width: 100px !important;
    height: 100%;
    background-color: #3A3A3A;
    font-size: 12px;
    color: #FFF;
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    text-align: center;
    padding: 0px !important;
    transition: background-color 0.5s ease;
}

.button_copy_code:hover {
    background-color: #3A3A3A;
}

.button_copy_code[disabled] {
    background-color: #28a428;
}

@media screen and (max-width: 986px) {
    #pix_new_content {
        width: 98%;
        flex-direction: column-reverse;
        margin: 20px 0px;
    }
}

@media screen and (max-width: 768px) {
    .share_container {
        display: flex;
    }
}

@media screen and (max-width: 586px) {
    .container_pix {
        width: 100%;
        padding: 20px 0px;
    }

    .span_title_text {
        font-size: 16px;
    }

    .span_content_text {
        font-size: 16px;
    }

    .payment_check_button {
        font-size: 16px;
    }

    .payment_check_text {
        font-size: 14px;
    }

    .pix_img {
        width: 100%;
    }

    #copy_container {
        width: 100%;
        max-width: 360px;
    }

    .input_copy_code {
        max-width: 288px;
    }
}

/* Estilos para o botão de recibo */
#pix_success_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
}

.pix-success-message {
    text-align: center;
    font-size: 1.2em;
    color: #28a428;
    padding: 20px 0;
}

#pix-receipt-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(58, 58, 58);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#pix-receipt-btn:hover {
    background-color: rgb(45, 45, 45);
}

/* Estilos para o botão de recibo */
#pix_success_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
}

.pix-success-message {
    text-align: center;
    font-size: 1.2em;
    color: #28a428;
    padding: 20px 0;
}

#pix-receipt-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(58, 58, 58);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#pix-receipt-btn:hover {
    background-color: rgb(45, 45, 45);
}

/* Estilos para mensagem de erro */
#pix-error-message {
    display: flex;
    justify-content: center;
    padding: 20px;
}

#pix-error-message p {
    width: 300px;
    max-width: 90vw;
    background-color: #ff4c4c;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 0;
}
