/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.copy-button {
    color: white;
    text-decoration: none;
    background-color: #28c77b;
    padding: 12px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.copy-button:hover {
    background-color: #2eee94;
}

.form-donation {
    text-align: center;
    text-wrap: balance;
    max-width: 472px;
}

@media only screen and (max-width: 572px) {
    .form-donation {
        text-align: center;
        text-wrap: balance;
        max-width: 300px;
    }
}