/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

li {
    list-style: none;
    margin: 10px;
}

.PGPFGForGivewpAdminSettingsDiv {
    padding: 1px 0px;
    background-color: transparent;
    margin-left: 0px !important;
}

.PGPFGForGivewpAdminSettingsDiv hr {
    display: none;
}

.title-hr {
    border-top: 1px solid rgb(204, 204, 204);
    margin: 8px 0px;
    width: 100%;
}

.PGPFGForGivewpAdminSettingsP {
    color: #252323;
    font-style: normal;
    font-size: x-large;
    width: 100%;
    margin-bottom: 0;
    font-weight: bold;
    display: none;
}

.PGPFGForGivewpAdminSettingsDiv tr {
    /*padding: 10px 14px;*/
    /*margin: auto;*/
    max-width: 850px;
}

.PGPFGForGivewpAdminSettingsDiv td {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px 30px;
    border-radius: 5px;
    border: 1px solid rgb(223, 223, 223);
}

.PGPFGForGivewpAdminSettingsDiv td div {
    align-items: center;
}

.PGPFGForGivewpAdminSettingsDiv td label {
    font-weight: bold;
    font-size: 16px;
    margin: 6px 0px;
}

input[type=radio]:checked {
    position: relative !important;
}

input[type=radio]:checked::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0px;
}

.PGPFGForGivewpAdminSettingsDiv fieldset {
    margin: 10px 0px;
}

.PGPFGForGivewpAdminSettingsDiv .give-input-field,
.PGPFGForGivewpAdminSettingsDiv select,
.PGPFGForGivewpAdminSettingsDiv .button.button-primary {
    margin: 25px 0px;
}

fieldset ul li {
    margin: 3px 0px !important;
}

fieldset ul li label {
    font-size: 14px !important;
    font-weight: 400 !important;
}

.PGPFGForGivewpAdminSettingsDiv td ul {
    display: flex;
    flex-direction: column;
}

.PGPFGForGivewpAdminSettingsDiv tr th {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
}

.PGPFGForGivewpAdminSettingsDiv tr th p {
    font-size: 13px;
    color: rgb(52, 59, 69)
}

.PGPFGForGivewpAdminSettingsDiv tr th label {
    font-size: 20px;
    min-width: 200px;
    color: rgb(18, 21, 25);
}

.tooltip {
    position: relative;
    display: inline-block;
    background-color: #ccc;
    color: white;
    border-radius: 70%;
    width: 14px;
    min-width: 14px;
    height: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: help;
}

.tdTooltipCell {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    /* Adjust this value to control the position of the tooltip */
    left: 50%;
    margin-left: -100px;
    /* Adjust this value to center the tooltip */
    opacity: 0;
    transition: opacity 0.3s;
    font-size: small;
    font-weight: 300;
    text-wrap: balance;
}

@media (min-width: 783px) {
    .PGPFGForGivewpAdminSettingsTr {
        display: flex;
    }
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.give-radio-inline ul {
    margin-top: 14px !important;
}

.lkn-container-menu {
    display: flex;
    align-items: end;
    position: relative !important;
}

input#lkn-pix-menu {
    display: none;
}

.lkn-pix-menu {
    display: flex;
    margin: 0px 0px 30px 0px;
    background-color: transparent;
    flex-wrap: wrap;
    color: #9A9A9A;
    font-size: 14px;
    font-weight: 600;
    border-bottom: 1px solid #dcdcde;
}

.lkn-pix-menu li {
    margin: 0px 5px 0px 0px;
    padding: 7px 30px;
    font-weight: 600;
    cursor: pointer;
}

.lkn-pix-menu li:hover {
    background-color: #BCBCBC;
    transition: 200ms;
}

.lkn-pix-menu-ativo {
    background-color: #fff;
    color: #000;
    transition: 100ms;
}

.lkn-pix-menu-ativo:hover {
    background-color: #FFF !important;
}

.lkn-pix-configuracao-disable {
    display: none;
}

.give-forminp.give-forminp-password div p {
    width: fit-content !important;
}

.lkn-disabled-settings {
    pointer-events: none;
    opacity: 0.6;
}

.lkn-disabled-settings .tooltip {
    pointer-events: auto;
}

.lkn-label-pro {
    color: #FF0B0B;
    font-weight: bold;
}

input#lkn-label-pro {
    display: none;
}

.lkn-menu-toggle {
    display: none;
}