/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

li {
    list-style: none;
    margin: 10px;
}

.PGPFGForGivewpAdminSettingsDiv {
    padding: 1px 20px;
    background-color: white;
}

.PGPFGForGivewpAdminSettingsP {
    color: #252323;
    font-style: normal;
    font-size: x-large;
    width: 100%;
    margin-bottom: 0;
    font-weight: bold;
}

.tooltip {
    position: relative;
    display: inline-block;
    background-color: #ccc;
    color: white;
    border-radius: 70%;
    width: 20px;
    min-width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: help;
}

.tdTooltipCell {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    /* Adjust this value to control the position of the tooltip */
    left: 50%;
    margin-left: -100px;
    /* Adjust this value to center the tooltip */
    opacity: 0;
    transition: opacity 0.3s;
    font-size: small;
    font-weight: 400;
    text-wrap: balance;
}

@media (min-width: 783px) {
    .PGPFGForGivewpAdminSettingsTr {
        display: flex;
    }
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.give-radio-inline ul {
    margin-top: 14px !important;
}

.lkn-container-menu {
    display: flex;
}

input#lkn-pix-menu {
    display: none;
}

.lkn-pix-menu {
    display: flex;
    margin-bottom: 0;
    background-color: #DCDCDE;
    flex-wrap: wrap;
}

.lkn-pix-menu li {
    margin: 0px;
    font-size: 18px;
    padding: 15px 20px;
    font-weight: 600;
    cursor: pointer;
}

.lkn-pix-menu li:hover {
    background-color: #BCBCBC;
    transition: 200ms;
}

.lkn-pix-menu-ativo {
    background-color: #fff;
    color: #000;
    transition: 100ms;
}

.lkn-pix-menu-ativo:hover {
    background-color: #FFF !important;
}

.lkn-pix-configuracao-disable {
    display: none;
}

.give-forminp.give-forminp-password div p {
    width: fit-content !important;
}