/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

li {
    list-style: none;
    margin: 10px;
}

#PGPFGForGivewpAdminSettingsDiv {
    padding: 1px 20px;
    background-color: white;
    margin-top: 30px;
    border: 2px solid #C6C6C6;
}

#PGPFGForGivewpAdminSettingsP {
    color: #252323;
    font-style: normal;
    font-size: x-large;
    width: 100%;
    margin-bottom: 0;
    font-weight: bold;
}